* {
    margin: 0;
    pardding:0;
    box-sizing: border-box;
}

.body{
    font-family:Arial, sans-serif;;
}
header {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index: 10;

}
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/pic1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
}


.hero-text h1{
    font-size: 48px;
    margin-bottom: 15px;
}
.nav-links a {
    color: white;
    text-decoration: none;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 50px;
   
}
.logo {
    height: 50px;
    
}

.navbar{
    display: flex;
    justify-content: space-between;

}
.btn{
    display: inline-block;
    padding: 12px 24px;
    background-color: rgb(189, 228, 189);
    color: white;
    margin-bottom: 10px;
    text-decoration: none;

}